        *{
         margin: 0px;
         padding: 0px;
         box-sizing: border-box;
        }
        .navbar{
         background: transparent;
        }
        ul li a{
         text-transform: capitalize;
         text-decoration: none;
         color: white;
         font-size: 20px;
         font-weight: 500;
        }
        ul li a:hover{
         color: red!important;
         background:greenyellow;
         display:inline-block;
         border: 1px ;
         border-radius: 5px;
         font-size: 20px;
         font-weight: 500;
         word-spacing: 2px;
         transition: 0.5s;
        }
        .p-tour{
         color: darkred;
         font-size: medium;
         font-weight: 600;
         font-family: ui-sans-serif;
         text-transform: capitalize;
        }
        .p-profile{
         font-size: medium;
         font-weight: 700;
         font-family: cursive;
         text-transform: capitalize;
         color: midnightblue;
        }
        /*/////footer/////*/
        .footer{
         height: 40px;
         line-height: 40px;
         font-size: 20px;
         font-weight: 500;
         margin-top: auto;
        }